<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is home page</title>
</head>
<body>
<div class="page error-page" style="background:#fff;">
    <img src="http://img1.vued.vanthink.cn/vuedfc93e699c2726c2fafa0ed056cba100d.jpg" alt="未找到页面"/>
    <p class="error-text">500 错误！</p>
    <p class="error-text2">The Service Is Not Found.</p>
    <p class="ft">
        <a href="/" class="btn btn-info">返回首页</a>
    </p>
    <p>
        <a href="">联系我们</a>
    </p>
</div>

</body>
</html>