<!DOCTYPE html>
<html lang="en">
<% include ./_includes/head.ejs%>
<body>
<div class="ui segment  page error-page" style="background:#fff;">
    <%include ./_includes/nav.ejs%>
    <div style="margin:50px auto;">
        <div id="main" style="width: 100%;height:600px;"></div>
        <div id="main2" style="width: 100%;height:600px;"></div>
    </div>
</div>
<script src="/js/devices.js"></script>
</body>
</html>