<!DOCTYPE html>
<html lang="en">
<%include ./_includes/head.ejs%>
<body>
<div class="ui segment page error-page" style="background:#fff;">
    <%include ./_includes/nav.ejs%>
    <div id="main" style="width: 1200px;height:700px; margin:50px auto;"></div>
</div>
<script src="/js/plateform.js"></script>
</body>
</html>