<!DOCTYPE html>
<html lang="en">
<%include ./_includes/head.ejs%>
<body>
<div class="ui segment  page error-page" style="background:#fff;">
    <%include ./_includes/nav.ejs%>
    <div class="clearfix" style="margin:50px auto;">
        <div id="main" class="fl" style="width: 50%;height:400px;"></div>
        <div id="main2" class="fr" style="width: 50%;height:400px;"></div>
    </div>
</div>
<script src="/js/software.js"></script>
<script src="/js/semantic.min.js"></script>
</body>
</html>