<head>
    <meta charset="UTF-8">
    <title>平台</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/pikaday.css">
    <script src="/_lib/jquery.js"></script>
    <script src="/_lib/echarts.js"></script>
    <script src="/_lib/moment.min.js"></script>
    <script src="/_lib/pikaday.js"></script>
    <script src="/js/comm.js"></script>
</head>
